 /* GENERAL */

body
{
    font-family: "Lato", sans-serif;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}
img
{
    max-width: 100%;
    height: auto;
}
#about .profile-picture img
{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter:grayscale(100%);
}
#about .profile-picture img:hover
{
    filter: none;
    -webkit-filter:none;
}
section
{
    padding: 45px 0 80px 0;
}
section .heading
{
    text-align: center;
    padding-top: 40px
}
section .heading h2
{
    text-transform: uppercase;
    text-align: center;
}
.blue-divider
{
    width:125px;
    height: 2px;
    background: #0a3d62;
    margin: 0 auto;
}

.white-divider
{
    width:125px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}
/* MENU */
.navbar
{
    background: #0a3d62;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link
{
    color: #fff !important;
    text-align: center;
}
.nav-pills .nav-link.active, .nav-pills .nav-link:hover
{
    color: #0a3d62 !important;
    background-color: #fff !important;
}
.navbar-toggler
{
    color: #fff !important;
    border-style: none;
}

/* ABOUT */

#about
{
    padding-top: 100px;
    background: #0a3d62;
}
.profile-picture
{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1
{
    color: #fff;
    text-transform: uppercase;
}
#about .heading h3
{
    color: rgb(228, 228, 228);
}
.button1
{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    
}
.button1:hover
{
    background: white;
    color: #0a3d62;
    text-decoration: none;
}

/* SKILLS */
#skills
{
    background: #fff;
}
#skills .heading h2
{
    color:#0a3d62;
    text-transform: uppercase;
}
#skills .progress
{
    height: 15%;
    width: 100%;
    margin: 30px 20px;
    background: #ddd;
}
#skills .progress-bar
{
    background: #0a3d62;
}
#skills .progress h5
{
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    padding-top: 5px;
    font-size: 100%;
}

/* EXPERIENCE*/ 
#experience
{
    background: #0a3d62;
}
#experience .heading h2
{
    color: #fff;
    padding-bottom: 50px;
}
.timeline
{
    padding: 10px 10px;
    position: relative;
}
.timeline:before
{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li
{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after
{
    clear: both;
}
.timeline > li:before, .timeline > li:after
{
    content: " ";
    display: table;
}
.timeline li .timeline-badge
{
    color: #0a3d62;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container
{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
}
.timeline-panel
{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}
.timeline-panel-container-inverted .timeline-panel
{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after
{
    position: absolute;
    top: 24px;
    right: -15px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0px;
    border-right-width: 14px;
    left: -15px;
    right: auto;
}
.timeline-heading h3
{
    margin-top: 5px;
    font-size: 20px;
    color : #9C2727 ;
}
.timeline-heading h4
{
    color: black;
}

/* EDUCATION */
#education
{
    background: #fff;
}
#education .heading h2
{
    color: #0a3d62 ;
    margin-bottom: 40px; 
}
.education-block
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .fas
{
    font-size: 40px;
}
.education-block h3
{
    color:#9C2727;
}
.education-block h4
{
    margin-bottom: 20px;
}
.education-block p
{
    font-weight: bold;
}
.education-block .blue-divider
{
    margin-bottom: 20px;
}

/* PORTFOLIO */
#portfolio
{
    background: #0a3d62;
}
#portfolio .heading h2
{
    color: #fff;
    margin-bottom: 50px;
}
#portfolio .rounded img
{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10%;
    filter: grayscale(100%);
    -webkit-filter:grayscale(100%);
}
#portfolio .rounded img:hover
{
    filter: none;
    -webkit-filter:none;
}

/* RECOMMANDATIONS */
#recommandations
{
    background: #fff;
}
#recommandations .heading h2
{
    color: #0a3d62;
}
.carousel-control-prev
{
    background-image: none;
    color: #0a3d62;
}
.carousel-control-next
{
    background-image: none;
    color: #0a3d62;
}
.carousel-indicators
{
    bottom: 0px;
}
.carousel-indicators li
{
    border-color: #0a3d62;
}
.carousel-indicators li .active
{
    background-color: #0a3d62;
}
#myCarousel .carousel-item
{
    padding: 40px 30px;
}
#myCarousel .carousel-item h3
{
    color:#0a3d62;
    font-style: italic;
    text-align: center;
}
#myCarousel .carousel-item h4
{
    color:black;
    text-align: center;
}
.carousel-control-prev .fas
{
    font-size: 40px;
}
.carousel-control-next .fas
{
    font-size: 40px;
}

/* FOOTER */
footer
{
    background: #333;
    padding: 20px 0 40px;
}
footer .fas
{
    font-size: 25px;
    margin: 20px;
    color: #0a3d62;
    height: 30px;
}
footer .fas:hoover
{
    font-size: 30px;
}
footer h5
{
    color: #fff;
    font-weight: normal;
}
















